@import "tailwindcss";

:root {
  /* Using Earth & Light Palette */
  --background: #F8F5F2;
  --foreground: #5D5A56;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
